<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_task_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjeManaj">
        <activity
            android:name="com.example.projemanaj.activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name="com.example.projemanaj.activities.SignInActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.ProjeManaj.NoActionBar" />
        <activity
            android:name="com.example.projemanaj.activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.ProjeManaj.NoActionBar" />
        <activity
            android:name="com.example.projemanaj.activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.ProjeManaj.NoActionBar" />
        <activity
            android:name="com.example.projemanaj.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.ProjeManaj.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.projemanaj.activities.MainActivity" />
    </application>

</manifest>